{% extends "base.html" %}
{% block content %}
<div class="hero"><h1>Squads</h1></div>
<div class="card">
{% if squads %}
<table>
  <tr><th>#</th><th>Squad</th><th style="text-align:right;">Score</th></tr>
  {% for s in squads %}
  <tr>
    <td class="rank {{ 'top1' if loop.index == 1 else '' }}">{{ loop.index }}</td>
    <td>{{ s.name }}</td>
    <td class="value">{{ s.score|round|int }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<div class="empty">Noch keine Squads vorhanden.</div>
{% endif %}
</div>
{% endblock %}
